version: '3'
services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
  backend:
    build: ./backend
    ports:
      - "8086:8080"
    depends_on:
      - mysql
  frontend:
    build: ./frontend
    ports:
      - "8090:80"
